/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Mulish:wght@400;500;600;700;800;900&display=swap');
/* *{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;

} */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    
    color: var(--color-dark) !important;
    font-family: var(--font-primary) !important;
}
:root{
    --font-primary:'Mulish', sans-serif;
    --font-secondary:'Montserrat', sans-serif;
    --color-primary:#2E3C6D;
    --color-secondary:#FDB722;
    --color-tertiary:#FDB722;
    --color-grey:#b6c0c0;
    --color-white:#fff;
    --color-dark:#252323;
    --color-transparent:#2e3c6d9c;
    
}
input,button{
    outline: none;
    border: none;
}

ul {
    margin: 0px;
    padding: 0px !important;
}
img{
    width: 100%;
}
a{
  /* font-family: var(--font-secondary); */
    text-decoration: none !important;
    color: unset;
    
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    font-family: var(--font-primary);
}
p{
    font-size: 14px;
    font-family: var(--font-secondary);
}
section{
    padding: 60px 0;
}
.section-head{
  text-transform: uppercase;
    font-weight: 800;
    color: var(--color-primary);
    /* text-align: center; */
    font-family: var(--font-primary);
    padding-bottom: 1.5rem ;
    font-size: 28px;
}
.btn-main{
    width: max-content;
    
    background-color: var(--color-tertiary);
    font-size: 14px;
    font-weight: 600;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    box-shadow: 1px 2px 5px 0 var(--color-grey);
    cursor: pointer;
    color: var(--color-primary);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;

}
.btn-main:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  transform: scale(1.05);
  box-shadow: 2px 4px 8px 0 var(--color-grey);
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: max-content;
    background: var(--color-white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  nav .login{
    padding-right: 60px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: end;

  }
  nav .login a{
    font-size: 13px;
    font-weight: 500;
    color: var(--color-secondary);
    
  }
  nav .login a:hover{
    
    color: var(--color-primary);
    
  }
  nav .login a:first-child{
   margin-right: 8px;
   border-right: 1px solid var(--color-grey);
   padding: 0 10px;
  }
  .nav .top{
    display: flex;
    justify-content: flex-end;
  }
  nav  ul{
   margin-bottom: 0 !important;
   
  }
  nav .navbar{
    height: 100%;
    /* max-width: 1250px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0 50px;
  }
  .navbar .logo {
   width: 14%;
   
  }
  nav .navbar .nav-inner{
    display: flex;
   
   
    flex-direction: column;
  }
  nav .navbar .nav-inner .search-box{
    display: block;
  }
  nav .navbar .nav-inner .d-inline-block{
    margin-bottom: -30px;
    display: flex !important;
    justify-content: flex-end !important;
  }
  nav .navbar .nav-inner .d-inline-block a{
  padding: 0 10px;
  color: var(--color-primary);
  font-size: 14px;
  }
  nav .navbar .nav-links{
    line-height: 70px;
    height: 100%;
  }
  nav .navbar .links{
    display: flex;
  }
  nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
  }
  nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
  }
  nav .navbar .links li a:hover{
    color: var(--color-transparent);
  }
  nav .navbar .links li a.active{
    color: var(--color-tertiary);
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(180deg);
    }
  
  nav .navbar .links li .arrow{
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: var(--color-primary);
    transition: all 0.3s ease;
  }
  nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: var(--color-white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: block;
  }
  .navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar .links li .sub-menu a{
    color: var(--color-primary);
    font-size: 15px;
    font-weight: 500;
  }
  .navbar .links li .sub-menu .more-arrow{
    line-height: 40px;
  }
  .navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .navbar .search-box,.navbar .search-box1{
    position: relative;
     height: 40px;
    width: 40px;
  }
  .navbar .search-box i,.navbar .search-box1 i{
    
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #2E3C6D;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navbar .search-box .input-box,.navbar .search-box1 .input-box{
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: var(--color-primary);
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;

  }
  .navbar.showInput .search-box .input-box,.navbar.showInput1 .search-box1 .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: var(--color-primary);
    z-index: 99;
  }
  .search-box .input-box::before,.search-box1 .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: var(--color-primary);
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
  }
  .search-box .input-box input,.search-box1 .input-box input{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
  }
  .navbar .nav-links .sidebar-logo{
    display: none;
  }
  .navbar .bx-menu{
    display: none;
  }
  @media (max-width:920px) {

    nav .navbar{
      max-width: 100%;
      padding: 0 25px;
    }
  
    nav .navbar .logo a{
      font-size: 27px;
    }
    nav .navbar .links li{
      padding: 0 10px;
      white-space: nowrap;
    }
    nav .navbar .links li a{
      font-size: 15px;
    }
  }
  @media (max-width:800px){
    nav .navbar .nav-inner .search-box{
      display: none;
    }
    nav{
     
      height: 70px;
     
    }
    .navbar .bx-menu{
      display: block;
    }
    nav .navbar .nav-links{
      position: fixed;
      overflow-y: scroll;
      top: 0;
      left: -100%;
      display: block;
      max-width: 85%;
      width: 100%;
      background:  var(--color-white);
      line-height: 40px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
      z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      
    }
    .navbar .nav-links .sidebar-logo img{
      width: 40%;
    }
      .sidebar-logo  i,
      .navbar .bx-menu{
        font-size: 25px;
        color: var(--color-primary);
      }
    nav .navbar .links{
      display: block;
      margin-top: 20px;
    }
    nav .navbar .links li .arrow{
      line-height: 40px;
    }
  nav .navbar .links li{
      display: block;
    }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
      display: none;
    }
    .navbar .links li .sub-menu .more span{
      /* background: red; */
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
    }
  
    .links li .sub-menu .more:hover .more-sub-menu{
      display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu{
      display: none;
    }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu{
        display: block;
      }
      .navbar .nav-links.show1 .links .htmlcss-arrow,
      .navbar .nav-links.show3 .links .js-arrow{
          transform: rotate(180deg);
  }
      .navbar .nav-links.show2 .links .more-arrow{
        transform: rotate(90deg);
      }
  }
  @media (max-width:370px){
    nav .navbar .nav-links{
    max-width: 100%;
  } 
  }

  .header{
    height: 100vh;
    width: 100%;
  }



  /* banner */
  .banner{
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  #banner .owl-nav{
    display: flex;
    justify-content:end;
    padding: 20px;
    margin-top: -5rem;
    z-index: 99;
    position: relative;
  }
  #banner .owl-nav i{
    font-size: 3rem !important;
    color: var(--color-white);
  }
  #banner .owl-nav button{
    width: 3rem;
    background-color: var(--color-primary);
    margin-right: 3px;
  }
  .banner .overlay{

    color: var(--color-white);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-transparent);
  }
  .banner h1{
    text-align: center;
   margin-top: 10rem;
    font-weight: 900;
    width: 60%;
  }
  .banner p{
    text-align: center;
    width: 60%;
  }
.why .why-box{

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  1rem;
  width: 100%;
  flex-direction: column;
  text-align: center;
  box-shadow: 1px 1px 15px var(--color-grey);
  transition: .5s ease-in-out;
}
.why .why-box h5{
  margin-top: 1rem;
  font-weight: 500;
  color: var(--color-primary);
  font-family: var(--font-secondary);
}
.why .why-box:hover{
  transform: translateY(-10px);
  box-shadow:  1px 1px 15px var(--color-transparent);
}


.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}

.slick-slider
{
  padding: 2rem 0;
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  
transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* testimonial */
.testimonial{
  position: relative;
  width: 100%;
  height: 600px;
  background: url(../images/ban.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  
}
.testimonial .overlay{
  top: 0;
  position: absolute;
  background-color: var(--color-transparent);
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}
.shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
border:1px solid #ECECEC;
  box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}
.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: var(--color-primary);
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
  text-align: center;
  padding: 30px 50px;
 
  opacity: .2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: var(--color-tertiary);
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background:var(--color-secondary);
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}
.testimonial .section-head{
  color: var(--color-white) !important;
  text-align: center;
}
/* milestones */
.milestones .mile-box{
 overflow: hidden;
 border-radius: 6px;
  margin: 5px;
  box-shadow: 1px 2px 10px #eee;
  transition:.5s ease-in-out;
}
.milestones .mile-box img{
  transition:.5s ease-in-out;
}
.milestones .mile-box:hover{
  box-shadow: 1px 2px 30px var(--color-secondary);
}
.milestones .mile-box .day{
  color: var(--color-primary);
  font-weight: 600;
  text-align: center;
  background-color: var(--color-secondary);
}

.milestones .mile-box .text{
 
padding: 5px;
}
/* chronicle */
.chronicle .news-box{
  border: 1px solid #eee;
  margin: 10px ;
}
.chronicle img{
  max-width: 100% !important;
}
.chronicle .news-box .news-cnt{
  padding: 6px;
  
}
.chronicle .news-date{
  color: var(--color-grey);
  font-size: 14px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.chronicle .news-title{
  padding: 8px 0;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-primary);
  
}
.chronicle .news-text{
  font-size: 13px;
 
}
.chronicle .owl-nav {
  display: flex;
  justify-content: flex-end;
}
.chronicle .owl-nav i{
  
    font-size: 35px;

}
.read-more{
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 600;
  transition:.5s ease-in-out;
  cursor: pointer;
  
}
.read-more:hover{
  color: var(--color-tertiary);
}
/* float icon */
.float{
	position:fixed;
	width:50px;
	height:50px;
  z-index: 99;
	bottom:30px;
	right:30px;
	background-color:var(--color-primary);
	color:#FFF;
	border-radius:50px;
	text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
	box-shadow: 2px 2px 3px #999;
}

.float i{
	font-size: 30px;
}
/* courses */
.courses .course{
  /* border: 1px solid #eee; */
  border-radius: 6px;
  margin: 10px;
  transition:.5s ease-in-out;
  padding: 30px 10px;
  /* background-color: var(--color-white); */
  background-color: var(--color-primary);
  color: var(--color-grey);
  cursor: pointer;
  text-align: center;
} 

.courses .course:hover{
  box-shadow: 2px 2px 3px var(--color-transparent);
  background-color: var(--color-primary);
  color: var(--color-white);
 
  border: 0;
}

.courses .course i{
 font-size: 4rem;
 color: var(--color-tertiary);
 transition:.5s ease-in-out;
}
.courses .course:hover i{
  transform: rotate(360deg);
}
.courses .course .course-title{
  color: var(--color-white);
  font-weight: 800;
  transition:.5s ease-in-out;
  font-size: 20px;
  margin-bottom: 1rem;
}
.courses .course .course-btn a{
  font-size: 14px !important;
}
.courses .course .course-btn a:hover{
  background-color: var(--color-white);
  color: var(--color-tertiary);
 
}
/* enquire */
.enquire{
 
  /* background-color: var(--color-primary); */
  height: 700px;
  background: url(../images/img2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: var(--color-white);
 
  position: relative;
  transition:.5s ease-in-out;

}
.enquire .section-head{
  padding: 3rem 0;
  text-align: center;
  color: var(--color-white)!important;
}
.enquire .overlay{
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--color-transparent), var(--color-secondary));
  transition:.5s ease-in-out;
 
}
.enquire .form-group{
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 30px;
  background-color: var(--color-white);
}
.enquire .form-group .form-control {
  margin-bottom: 10px;
  padding: 1.1rem 0.75rem;}
.enquire .form-group button{
  
    width: 100%;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 15px 0;

}
/* footer */
footer{
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: 3rem 0;

}
footer .logo img{
  width: 30%;
}
footer .footer-top{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
footer .footer-top .social .s-icon-box{
 height: 40px;
 width: 40px;
 border-radius: 50px;
 background-color: var(--color-primary);
 transition: .5s;
 margin-right:5px ;
 display: flex;
 align-items: center;
 justify-content: center;
 
}
footer .footer-top .social .s-icon-box i{
  transition: .5s;
font-size: 25px;
color: var(--color-white);
 
}
footer .footer-top .social .s-icon-box:hover{
background-color: var(--color-secondary);
 
}
footer .footer-top .social .s-icon-box:hover i{
transform: rotate(360deg);
 
}
footer .footer-hed{
  width: max-content;
font-size: 16px;
font-weight: 700;
color: var(--color-primary);
 border-bottom: 1px solid var(--color-transparent);
 padding-bottom: 8px;
 margin: 10px 0;
 font-family: var(--font-primary);
}
footer ul{
  list-style: none;
}
footer ul li{
  
  margin: 8px 0;
}
footer ul li a, footer a,footer p{
  color: var(--color-dark);
  transition: .5s;
  font-size: 13px;
  font-weight: 500;
}
footer ul li a:hover, footer a:hover{
  letter-spacing: .6px;
  color: var(--color-secondary);


}
footer .col-lg-3 i{
  color: var(--color-primary);
  font-size: 30px;
  transition:.5s;
  margin-right: 10px;

}
footer .copyright{
  padding: 1rem 0;
 margin-top: 30px;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;

}

  /* -----------------------------mediaquery-------------------- */
  @media (max-width:920px) {
    .banner h1,.banner p{
      width: 100%;
      padding: 5px 2rem;
    }
    .navbar .logo {
      width: 40%;
  }
  .about .row{
    flex-direction: column-reverse;
    text-align: center;
  }
  .about .about-img{
    margin-top: 2rem;
  }
  .why .why-box{
    margin-bottom: 1.5rem;
   
  }
  .section-head{
    text-transform: uppercase;
      text-align: center;
      
      font-size: 22px;
  }
  .enquire {
    height: max-content;
  }
  footer .col-lg-3{
    text-align: center;
  }
  footer .footer-hed{
    border-bottom: unset;
    text-align: center;
    width: auto;
  }
  nav .navbar .nav-inner{
    flex-direction: column-reverse;
  }
  nav .navbar .nav-inner .d-inline-block{
    display: flex !important;
   
    flex-direction: column !important;
    margin-left: 10px;
  }
  }


















.modal{
  background: var(--color-transparent) !important;
  

}

/*-------------------------------------------------
* Modal Style 2 CSS start
*-----------------------------------------------*/
.modal.show .modal-dialog {
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important;
}
.modal-style-2 .modal-login {
  width: 390px;
  display: flex;
}

.modal-style-2 .modal-login a{
  text-decoration: none !important;
}

.modal-style-2 .modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modal-style-2 .modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}

.modal-style-2 .modal-login .close {
  position: absolute;
  top: -10px;
  right: -10px;
}
.modal-style-2  .close:focus, .modal-style-2 .close:active {
 outline: none !important;
 box-shadow: none;
}
.modal-style-2 .modal-login h4 {
  color: var(--style-2-color);
  text-align: center;
  font-size: 18px;
  margin-top: 0;
  border-bottom: 0;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 3px;
  font-weight: bold;
}

.modal-style-2 .modal-login .modal-content {
  color: #999;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 25px;
}

.modal-style-2 .modal-login .form-group {
  margin-bottom: 20px;
}

.modal-style-2 .modal-login label {
  font-weight: normal;
  font-size: 13px;
}

.modal-style-2 .modal-login .modal-body {
  padding: 0;
}

.modal-style-2 .modal-login .form-control {
  min-height: 38px;
  padding-left: 5px;
  box-shadow: none !important;
  border-width: 0 0 1px 0;
  border-radius: 0;
  font-size: 13px
}

.modal-style-2 .modal-login .form-control:focus {
  border-color: #ccc;
}

.modal-style-2 .modal-login .input-group-addon {
  max-width: 42px;
  text-align: center;
  background: none;
  border-width: 0 0 1px 0;
  padding-left: 5px;
  border-radius: 0;
  margin-right: 10px;
  padding-top: 15px;
}

.modal-style-2 .modal-login .btn {
  font-size: 15px;
  font-weight: bold;
  background: var(--style-2-color);
  border-radius: 25px;
  border: none;
  min-width: 140px;
  padding: 10px;
  outline: none !important;
}

.modal-style-2 .modal-login .btn:hover,
.modal-style-2 .modal-login .btn:focus {
  background: var(--style-2-color);
}
.modal-style-2  input:-internal-autofill-selected {
  background-color: transparent !important;
}
.modal-style-2 .modal-login .hint-text {
  text-align: center;
  padding-top: 5px;
  font-size: 13px;
}

.modal-style-2 .modal-login .modal-footer {
  color: #999;
  border-color: #dee4e7;
  text-align: center;
  margin: 0 -25px -25px;
  font-size: 13px;
  justify-content: center;
}

.modal-style-2 .modal-login a {
  color: #fff;
  text-decoration: underline;
}

.modal-style-2 .modal-login a:hover {
  text-decoration: none;
}

.modal-style-2 .modal-login a {
  color: var(--style-2-color);
  text-decoration: none;
}

.modal-style-2 .modal-login a:hover {
  text-decoration: underline;
}

.modal-style-2 .modal-login .fa {
  font-size: 16px;
}


.dark.modal-style-2 .modal-content{
  background: #0b0b1f !important;
  color: #fff!important;
}
.dark.modal-style-2 .close, .modal-style-2.dark .modal-login h4{
  color:#fff!important;
  background-color: unset;
}
.dark.modal-style-2 .modal-login .form-control{
  background: transparent !important;
  color: #fff;
  border-color: #777;
}
.dark.modal-style-2 .modal-login .input-group-addon{
  color:#9E9E9E;
}
.dark.modal-style-2 .modal-login .modal-footer{
  border: none;
}
.dark.modal-style-2 .modal-login .btn{
  background: #70807e;
}
.dark .text-danger{
  color: #777!important;
}

@media only screen and (max-width: 360px) {
  .modal-style-2 .modal-login {width: 100%; margin:5px;}
  .modal-style-2 .modal-login form{width: 100%;}
}

